.rent {
    padding: 70px 0 0 0;
    .rent-title {
        color: #666666;
        font-family: "Roboto Condensed";
        font-size: 48px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    .rent-esurfs {
        padding: 100px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 50%;
        }
        .rent-esurfs-descr {
            color: #666666;
            font-family: 'Circe';
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            span {
                font-weight: 700;
            }
        }
    }
    .rent-sups {
        padding: 50px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .rent-carousel {
            position: relative;
            display: inline-block;
            width: 585px;
            height: 550px;
            img {
                margin: 0 auto;
                max-height: 550px;
            }
            .slick-prev, .slick-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -55px;
                border: none;
                background-color: white;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .slick-next {
                right: 20px;
                left: auto;
            }
        }
        .rent-sups-descr {
            display: inline-block;
            color: #666666;
            font-family: 'Circe';
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            span {
                font-weight: 700;
            }
        }
    }
    .rent-wetsuits {
        padding: 100px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .rent-carousel {
            position: relative;
            display: inline-block;
            width: 585px;
            height: 550px;
            img {
                max-height: 550px;
            }
            .slick-prev, .slick-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -55px;
                border: none;
                background-color: white;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .slick-next {
                right: 20px;
                left: auto;
            }
        }
        .rent-wetsuits-descr {
            display: inline-block;
            color: #666666;
            font-family: 'Circe';
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            span {
                font-weight: 700;
            }
        }
    }
}